# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

**/.DS_Store


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build
**/target/
**/build/
**/bin/

**/.project
**/.classpath
**/.settings/

# Log file
**/logs/
**/log/
*.log

# Library
*.dll
*.so
*.dlib

**/*.cfg
/.idea/
${catalina.base}
*.MF
.metadata*
